@if (countdown) {
  <div class="countdown-ang">
    <div class="flex gap-4">
      <div>
        <span class="countdown font-mono text-4xl">
          <span id="days">{{countdown.days}}</span>
        </span>
        days
      </div>
      <div>
        <span class="countdown font-mono text-4xl">
          <span id="hours">{{countdown.hours}}</span>
        </span>
        hours
      </div>
      <div>
        <span class="countdown font-mono text-4xl">
          <span id="minutes">{{countdown.minutes}}</span>
        </span>
        min
      </div>
      <div>
        <span class="countdown font-mono text-4xl">
          <span id="seconds">{{countdown.seconds}}</span>
        </span>
        sec
      </div>
    </div>
  </div>
} @else {
  <h1 class="countdown-ang">¡Nos vamos a Disney!</h1>
}
